* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
        background: linear-gradient(90deg, rgb(194, 205, 210), rgb(146, 152, 158));
    color: #212121;
    line-height: 1.5;
    margin: 0;
    /* min-width: 100vw; */
    min-height: 100vh;
  } 

  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  
  .link {
    text-decoration: none;
    color: currentColor;
    display: block;
  }
  
  .list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  img {
    display: block;
   object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  button {
    padding: 0;
    display: block;

  }
  

  
  :root {
    --indent: 15px;
    --cards-in-row: 4;
    --hover-focus-duration: 250ms;
    --hover-focus-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .container {
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    background-color: inherit;
    overflow: hidden;
    
  }
  
.hidden {
    display: none;
  }
  
.cards-set {
    display: flex;
    flex-wrap:wrap;
    gap: var(--indent);
    width: auto;
    justify-content: center;
    
  }

  .cards-set-item {
    border: 2px solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;  
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.3), 1px 4px 6px rgba(0, 0, 0, 0.8);
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .cards-set-item:hover,
  .cards-set-item:focus {
    scale: 1.09;
  }
  
  .photo-card__img {
    width: 270px;
    height: 188px;
    border-top-right-radius: 9px;
    border-top-left-radius: 7px;
  }
  
  
  .search-form {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
  
    padding: 8px;
    max-width: 1200px;
  
    background-color: inherit;
  }
  
  .search-form__input {
    width: 280px;
    padding: 5px;

    border: none;
    border: 1px solid grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;    
}

.search-form__input:focus {
    outline: none;
}

.search-form__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    padding: 5px;
    border: 1px solid grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    background: #f1f1f1;
    cursor: pointer;
  }
  
  .search-form__btn:focus,
  .search-form__btn:hover {
    outline: none;
    background-color: #e3e1e1;
  }
  
  
  .load-more {
    margin: 10px auto 15px auto;
    cursor: pointer;
    padding: 6px 22px;
    min-height: 38px;
    min-width: 73px;
    border: none;
    border-radius: 4px;
color: #000;
    background-color: #e3e1e1;
font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    border: 1px solid #000;
    
    transition: color var(--hover-focus-duration) var(--hover-focus-timing-function),
    background-color var(--hover-focus-duration) var(--hover-focus-timing-function),
    box-shadow var(--hover-focus-duration) var(--hover-focus-timing-function);
}

.load-more:hover,
.load-more:focus {
    background-color:  #e3e1e1;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;    
    padding: 10px;  
    border: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

